body {
    background-color: rgb(243, 241, 238);
}

nav {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img.logo {
    height: 100px;
    margin: 0 auto;
}
h1 {
    text-align: center;
    color: black;
    font-size: 2em;
    font-family: 'Arial', sans-serif;
}

img.cityone1 {
    display: block;
    margin: 0 auto;
    max-width: 50%;
    height: auto;
}

img.Drivex2 {
    display: block;
    margin: 0 auto;
    max-width: 50%;
    height: auto;
}
img.terrax3 {
    display: block;
    margin: 0 auto;
    max-width: 50%;
    height: auto;
}
img.voltis4 {
    display: block;
    margin: 0 auto;
    max-width: 50%;
    height: auto;
}

